# Auto detect text files and perform LF normalization
# https://pablorsk.medium.com/be-a-git-ninja-the-gitattributes-file-e58c07c9e915
*                   text=auto

# Hide from GitHub's language detection
*.yaml              linguist-documentation
*.toml              linguist-documentation
*.json              linguist-documentation

# Remove assets from github statistics
*.yaml              linguist-vendored
*.toml              linguist-vendored

# Set the language for these files to ensure GitHub doesn't show the comments as errors
.vscode/*.json      linguist-language=JSON5
data/*              binary

# Do not try and merge these files
poetry.lock         -diff
*.pkl               -diff

# LFS
models/**           filter=lfs diff=lfs merge=lfs -text
